<%= form_for [@user, @store], :html => { :class => 'form-horizontal' } do |f| %>
	<%= render "shared/errors", object: @store %>


	<div class="control-group">
		 <%= f.label "Store Image", :class => 'control-label' %>
		<div class="controls">
		<%= image_tag @store.image_url(:thumb) if @store.image? %>
    <%= f.file_field :image %>
   </div>
  </div>

  <div class="control-group">
    <%= f.label :owner_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :owner_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :currency, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :currency, Store::CURRENCY, prompt: "Pick one" %>
    </div>
  </div>
  <hr>
<h4>Very Useful to refine your search based on keywords!</h4>
  <div class="control-group">
    <%= f.label :meta_keywords, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :meta_keywords, :class => 'text_field' %>
      <i>eg: nexus 5 london, jackets mumbai etc </i>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :meta_desc ,"Meta Description", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :meta_desc, :class => 'text_field' %><br />
      <i>Meta Description is shown in search results. Use Promotional statements to attract customers!</i>
    </div>
  </div>



<% if params[:action] == "edit" %>
  
<table>
    <tr>
        <td>Latitude:</td>
        <td>Longitude:</td>
    </tr>
    <tr>
        <td>
          <%= f.text_field :latitude, :id => "latitude",:id => "LatitudeTextBox" %>
        </td>
        <td>
          <%= f.text_field :longitude, :id => "longitude" ,:id => "LongitudeTextBox"%>
        </td>
    </tr>
</table>
  <input type="button" value="Show Map" onclick="reloadPage()">

<div id="map_canvas" style="width: 600px; height: 300px"></div>
<% end %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_stores_path, :class => 'btn' %>
  </div>
<% end %>
