<% @products.each do |product| %>
<h3><%= product.name %> Analytics</h3>
<div id="container" style="width:100%; height:400px;"></div>

<script>
$(function () {
        $('#container').highcharts({
            title: {
                text: 'Monthly Visitors Count ',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: <%= raw analytics_date_x(product, date_x = [])  %>
            },
            yAxis: {
                title: {
                    text: 'Count'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' visitors'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: "<%= product.name %>" ,
                data: <%= analytics_count(product, count = []) %>
            }]

        });
    });

</script>
<% end %>
<%= will_paginate @products %>

