<%- model_class = Store -%>
<div class="page-header">
  <h3>My Store</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
    	<th><%= "Image" %></th>
      <th><%= model_class.human_attribute_name(:owner_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:currency) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
      	<td><%= image_tag store.image_url(:thumb) if store.image? %></td>
        <td><%= store.owner_name %></td>
        <td><%= store.email %></td>
        <td><%= store.address %></td>
        <td><%= store.city %></td>
        <td><%= store.state %></td>
        <td><%= store.country %></td>
        <td><%= store.phone %></td>
        <td><%= store.currency %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_store_path(current_user,store), :class => 'btn btn-mini' %>

        </td>
        <%= add_limit_product(store) %> |
				<%= link_to t('.new', :default => t("helpers.links.my_products")),
            user_store_products_path(current_user, store),
            :class => 'btn btn-primary' %> |
         <%= link_to t('.new', :default => t("helpers.links.store_analytics")),
            store_analytics_path(store, :user_id => current_user),
            :class => 'btn btn-primary' %>
      </tr>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{store.latitude}%2C#{store.longitude}" %>
    <% end %>

  </tbody>
</table>

