<div class="page-header">
<h3>Welcome to Fastshoppy</h3>
<% if user_signed_in? %>
	<p>Your Current plan: <%= link_to current_plan, plans_path %> </p>
<%= link_to store_new_edit %>
<% end %>
</div>

<%= form_tag root_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query], :placeholder => "Search products" %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
<table class="table table-striped">
<% if params[:query].present? %>
<% Product.search(params[:query], :page => params[:page]).each do |result|  %>
<h4><%= link_to result.name, product_search_show_path(result.id) %></h4>
<p><%= image_tag product_search_image(result.id) %></p>
<p><%= result.description %><br />
<b>Price:</b> <%= number_to_currency(result.price, unit: search_price(result.store_id)) %> <br />
<b>Is Available:</b> <%= yesno(result.is_available) %><br />
<b>Store:</b> <%= store_owner(result.store_id) %></p>
<HR>

<% end %>
<%= will_paginate(@products) %>
<% end %>
</table>
