<div class="page-header">
  <h3><%= image_tag store_details(@product.store_id).image_url(:thumb) if store_details(@product.store_id).image? %>
  		<%= store_owner(@product.store_id) %></h3>
<b><i>Store Link: </i></b><i><%= link_to "#{root_url}store/#{store_details(@product.store_id).slug}", "#{root_url}store/#{store_details(@product.store_id).slug}" %></i><br/>
   <b><i>Phone: </i></b> <%= store_details(@product.store_id).phone %>
  <p><b><i>Email: </i></b><%= store_details(@product.store_id).email %><br />
  	 <b><i>Address: </i></b><%= store_details(@product.store_id).address %>, <br/>
  	 </b><%= store_details(@product.store_id).city %>, <%= store_details(@product.store_id).state %>, <%= store_details(@product.store_id).country %> </p>
</div>

  <h4><%= @product.name %></h4>
  <%= format_average_stars(@product) %>
  <%= show_offer(@product) %>
<dl class="dl-horizontal">
  <dt><strong>Description:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong>Price:</strong></dt>
  <dd><%= @product.price %></dd>
  <dt><strong>Is Available:</strong></dt>
  <dd><%= yesno(@product.is_available) %></dd>
  <dt><strong>Warranty:</strong></dt>
  <dd><%= yesno(@product.warranty) %></dd>
  <dt>Product Image</dt>
  <% @product_images.each do |pro| %>
  <dd>
  		<%= image_tag pro.image_url(:thumb) if pro.image? %>

  </dd>
  		<% end %>
</dl>

<HR />
<%= link_to pluralize(@product.reviews.size, 'review'),
            product_reviews_path(@product) %>
<%= link_to "Write Review", new_product_review_path(@product),
             class: 'btn btn-primary' %> <br />
             <br />
<dt>Product Reviews: </dt>
		<dd><% dup_hash(count_comments(@product)).each do |comments| %>
					<%= comments[0] %> --> <%= comments[1] %> <br />
					<% end %></dd>
</dl>