<div class="page-header">
  <h3><%= image_tag @store.image_url(:thumb) if @store.image? %>
  		<%= @store.owner_name %></h3>
  		<b><i>Store Link: </i></b><i><%= link_to "#{root_url}store/#{store_details(@store).slug}", "#{root_url}store/#{store_details(@store).slug}" %></i><br/>
   <b><i>Phone: </i></b> <%= @store.phone %>
  <p><b><i>Email: </i></b><%= @store.email %><br />
  	 <b><i>Address: </i></b><%= @store.address %>, <br/>
  	 </b><%= @store.city %>, <%= @store.state %>, <%= @store.country %> </p>
</div>
<h3>Store Products</h4>
<HR>

<% @products.each do |product| %>
	<h4><%= link_to product.name, product_search_show_path(@store.slug, product) %></h4>
<p><%= product_search_image(product) %></p>
<p><%= product.description %><br />
<b>Price:</b> <%= number_to_currency(product.price, unit: search_price(product.store_id)) %> <br />
<%= show_offer(product) %><br/>
<b>Is Available:</b> <%= yesno(product.is_available) %><br />
<b>Store:</b> <%= store_owner(product.store_id) %>, <%= store_details(product.store_id).city %> </p>
<HR>
<% end %>
	<%= will_paginate @products %>
