<%- model_class = Product -%>
<div class="page-header">
  <h3><%= pluralize(@products.size, 'Product') %></h3>
  	<p><i>Product only, if available, will be displayed for public in your store</i></p>
  	<%= link_to t('.new', :default => t("helpers.links.add_product")),
            new_user_store_product_path,
            :class => 'btn btn-primary' %> |
<%= link_to t('.new', :default => t("helpers.links.back")),
            user_stores_path(current_user),
            :class => 'btn btn-primary' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
    	<th><%= "Image" %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:is_available) %></th>
      <th><%= model_class.human_attribute_name(:warranty) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
      	<td><%= image_tag product_profile_image(product) %></td>
        <td><%= link_to product.name, user_store_product_path(current_user, @store, product) %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price, unit: @store.currency) %></td>
        <td><%= yesno(product.is_available) %></td>
        <td><%= yesno(product.warranty) %></td>
        <td><%= product.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_store_product_path(current_user, @store, product), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_store_product_path(current_user, @store, product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>



