<%= form_for([@product, @review]) do |f| %>
<%= render "shared/errors", object: @review %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', size: 40, autofocus: true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stars, :class => 'control-label' %>
    <% Review::STARS.each do |star| %>
     <span class="star">
       <%= f.radio_button :stars, star %> <%= star %>
    </span>
     <% end %>
  </div>
  <div class="control-group">
    <%= f.label :comments, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :comments, Review::COMMENTS %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            user_store_products_path(current_user, @store),
            :class => 'btn btn-primary' %>
  </div>
<% end %>
